/FabSystemsTimeClock/FABSystemsTimeClock/build/
/FabSystemsTimeClock/FABSystemsTimeClock/dist/
/FabSystemsTimeClock/FABSystemsTimeClock/nbproject/private/
/FABPointOfSaleSystem/FABPointOfSaleSystem/build/
/FABPointOfSaleSystem/FABPointOfSaleSystem/nbproject/private/
